1. Create 5 list comprehensions to solve the following 5 problems:
  1. Iterate a list of names to return a list of the names starting with H
  2. In one line create a list of the numbers 1-100 to the power of 3
  3. Iterate a list of names to create a list of tuples where the tuples first value is the length of the name and the second is the name
  4. Iterate over each character in a string and get only those that are nummeric
  5. Using only a list comprehension wrapped in set() get all possible combinations from throwing 2 dice (hint use 2 for loops in a single list comprehension). Result should look like: [2,3,4,5,6,7,8,...] or a more complex/accurate solution: [(1,1),(1,2)...] in a way that (1,2) is equal to (2,1). 

2. Create 2 dictionary comprehensions to solve the following:
  1. Iterate a list of names and create a dictionary where key is the name and value is the length of the name
  2. Iterate a list of numbers and create a dictionary with {key:value} being {number:squareroot_of_number}

3. Extra assignment (This one goes beyond what is covered in the course notebooks. So only do it if you want an extra challenge).
  - Progammatically using loops create a small program to produce a dictionary with all the 2 dice throw combinations as keys (eg: 2,3,4...etc) and their likelyhood in percent as values

In [2]:
#1.2
my_list = ["Bob", "Henning", "Alex", "Hanne"]

results = [name for name in my_list if name.lower().startswith("h")]
results

['Henning', 'Hanne']

In [4]:
#1.3
numbers = [i**3 for i in range(1,101)]
print(numbers)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [10]:
#1.4
names = ["Bob", "Henning", "Alex", "Hanne"]
tuples = [tuple([int(length), name])for name in names for length in str(len(name))]
print(tuples)

[(3, 'Bob'), (7, 'Henning'), (4, 'Alex'), (5, 'Hanne')]

In [11]:
#1.5
string = 'adsad765da65a7sdafaf98af0f'
my_list = list(string)
numbers = [int(char) for char in my_list if char.isdigit()]
numbers

[7, 6, 5, 6, 5, 7, 9, 8, 0]

In [12]:
#1.6
dice = [1,2,3,4,5,6]
results = set([tuple([d1,d2]) for d1 in dice for d2 in dice])
results

{(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6)}

In [13]:
#2.1
names = ["Bob", "Henning", "Alex", "Hanne"]
dictionary = {len(name):name for name in names}
dictionary

{3: 'Bob', 7: 'Henning', 4: 'Alex', 5: 'Hanne'}

In [17]:
#2.2
import math
numbers = [2,4,6,8,10]
my_dict = {numb:math.sqrt(numb) for numb in numbers}
my_dict

{2: 1.4142135623730951,
 4: 2.0,
 6: 2.449489742783178,
 8: 2.8284271247461903,
 10: 3.1622776601683795}